/* css-home */

/* Main Layout */
.page {background-color:#E6E6FA; 
	width:80%; 
	margin:auto;
padding:10px;}
body {
  background-image: url("picture 14.jpeg");
}

/* Header Section */
.main-header {background-color:#F5F5DC;}
.social-sites li {display:inline-block; 
	position:relative; 
	right:700px; top:-10px;}

/* Main Section */
main {background-color:#E6E6FA; width:80%; float:left; font-family: "Lucida Handwriting";}

/* Sidebar Section */
.sidebar {background-color:#FAF0E6; width:20%; float:right;}

/* Footer Section */
.main-footer {background-color:#ffE4E1; clear:both;}

ul {list-style-type: none; 
    border: none;
    color: white;
    padding-right:200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;}

li {float: left;}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}